body {
	background: linear-gradient(180deg, rgba(255,255,255,0.923406862745098) 0%, rgba(255,0,0,1) 100%);
}

.klasa1 {
	border-style: solid;
	text-align: center;
	border-color: black;
}

.klasa2 {
	text-align: center;
}
